@page "/"

<div class="row">
    <div class="col-sm-6">
        <label>Name</label>
        <input type="text" class="form-control" @bind(Name) />
        <label>Description</label>
        <input type="text" class="form-control" @bind(Description) />
        <button type="button" class="btn btn-primary" @onclick(()=>CreateThing()) >Click To Create</button>
    </div>
</div>

<WithChild>
    <div>This is inside child content</div>
    <button type="button" class="btn btn-success" @onclick(()=>CreateThing()) >Click To Create (Inside)</button>
</WithChild>

<div class="row">
    <div class="col-sm-12">
        <Outer Thing="Thing"></Outer>
    </div>
</div>

@functions
{
    public Thing Thing { get; set; }

    public string Name { get; set; }
    public string Description { get; set; }

    public void CreateThing()
    {
        var thing = new Thing
        {
            Name = Name,
            Description = Description
        };

        Thing = thing;
        Console.WriteLine($"Name: {Thing.Name}, Description: {Thing.Description}");
    }
}