<h3>Inner container</h3>

@if (Thing == null)
{
    <div>Inner Thing not set</div>
}
else
{
    <h4>Inner Thing Set</h4>
    <ul>
        <li>Name: @Thing.Name</li>
        <li>Description: @Thing.Description</li>
    </ul>
}

@functions
{
    public Thing Thing { get; set; }
}