<h3>Outer Container</h3>

@if (Thing == null)
{
    <div>Thing not set to anything</div>
}
else
{
    <h4>Thing Set To</h4>
    <ul>
        <li>Name: @Thing.Name</li>
        <li>Description: @Thing.Description</li>
    </ul>
}

@functions
{
    public Thing Thing { get; set; }
}